.App {
  text-align: center;
  border: 1px solid black;
}

.content {
  width: 80%;
  position: relative;
  left: 10%;
  display: flex;
  justify-content: space-around;
  border: solid 1px black;


}

.calendar-container {

}


