table {
  width: 75%;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  height: 100px;
}

.current-day {
  background-color: rgba(0,0,255,.3);
}

.elem{
  position: relative;
  top: 100px;
}
